* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
  }
}

.container {
  display: flex;
  justify-content: space-between;

  > * {
    flex: 1;
    padding: 10px;
    height: 100vh;
  }

  > .left-container {
    background-color: #fafafa;
    border-right: solid grey 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .bot-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      > button {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        > .bot-name {
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    > * {
      margin-right: 10px;
      margin-top: 10px;
      padding: 10px;
      width: 46%;
      text-align: center;

      > span {
        font-size: 15px;

        &:first-child {
          font-size: 30px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  > .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > * {
      margin-top: 20px;
    }
  }
}

button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: all 0.266s;
  background-color: #03a9f4;
  color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #888;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &:active {
    transform: scale(0.95);
  }
}

.container > .right-container > button {
  padding: 20px;
  cursor: pointer;
}

h1 {
  font-size: 50px;
}
